<div id="<%= dom_id license %>" class="license_box">
  <p>
    <strong>Title:</strong>
    <%= license.title %>
  </p>

  <p>
    <strong>Current expire date:</strong>
    <%= license.current_expire_date %>
  </p>

  <p>
    <strong>Renewal times:</strong>
    <%= license.renewal_times %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= license.owner %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= license.description %>
  </p>

  <p>
    <hr>
    <i>Created:</i> <%= time_tag license.created_at, "data-local": "time-ago" %> <br>
    <i>Update:</i> <%= time_tag license.updated_at, "data-local": "time-ago" %>
    <hr>
  </p>

</div>
