<div id="<%= dom_id license %>">
  <p>
    <strong>Title:</strong>
    <%= license.title %>
  </p>

  <p>
    <strong>Current expire date:</strong>
    <%= license.current_expire_date %>
  </p>

  <p>
    <strong>Renewal times:</strong>
    <%= license.renewal_times %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= license.owner %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= license.description %>
  </p>

</div>
