<% provide :title, "All" %>

<h2>Licenses</h2>

<% if crud_enabled? %>
  <%= button_to "New license", new_license_path, method: :get, form_class: "license_actions" %>
<% end %>
<br>

<div id="licenses">
  <% @licenses.each do |license| %>
    <div id="<%= dom_id license %>" class="license_box">
      - Id: <%= license.id %><br>- Title: <%= license.title %>
      <div class="text-right"><%= link_to "Details", license %></div>
    </div>
  <% end %>
  <% unless @licenses.any? %>
    <p class="license_box">There are no licenses yet.</p>
  <% end %>
</div>

<p class="text-right">
  <small>total of <%= @licenses.count %> licenses.</small>
</p>