<% provide :title, @license.title %>

<p style="color: green"><%= notice %></p>

<%= render @license %>

<div>
  <%= link_to "Edit ðŸ“", edit_license_path(@license) %> |
  <%= link_to "Back â®", licenses_path %>

  <div class="text-right">
    <%= button_to "Destroy ðŸ—‘", @license, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } } %>
  </div>
</div>
